svg{
    height: 900px;
    width: 1000px;
    margin-top: 20px;
    position: relative;
}

path{
    fill: white;
}

path:hover{
    fill: red;
}

div{
    display: table;
    display: flex;
    margin: 0 auto;
}